<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="tfa" frontName="tfa">
            <module name="MageOS_PasskeyAuth" before="Magento_TwoFactorAuth" />
        </route>
        <route id="mageos_passkey" frontName="mageos_passkey">
            <module name="MageOS_PasskeyAuth"/>
        </route>
    </router>
</config>
